/**
 * =============================================================================
 * MobileDevelopmentTools
 *
 * (c) Copyright 2015 Stefan Kolb <dev@stefankolb.de>
 * =============================================================================
 */

@import 'bootstrap';
@import 'functions';
@import 'mixins';


// -----------------------------------------------------------------------------
// TOOL: MEDIA QUERY - DEVICE PIXEL RATIO
// -----------------------------------------------------------------------------

.tool-mq-dpr-container {
  height: 5rem;
  position: relative;
  
  button {
    display: none;
    position: absolute;
    
    &.mq-dpr-default {
      display: block;
    }
    
    &.btn-block + .btn-block {
      margin-top: 0;  // Override margin form bootstrap
    }
  }
  
  @include min-device-pixel-ratio('1.0', 'mq-dpr');
  @include min-device-pixel-ratio('1.1', 'mq-dpr');
  @include min-device-pixel-ratio('1.2', 'mq-dpr');
  @include min-device-pixel-ratio('1.3', 'mq-dpr');
  @include min-device-pixel-ratio('1.4', 'mq-dpr');
  @include min-device-pixel-ratio('1.5', 'mq-dpr');
  @include min-device-pixel-ratio('1.6', 'mq-dpr');
  @include min-device-pixel-ratio('1.7', 'mq-dpr');
  @include min-device-pixel-ratio('1.8', 'mq-dpr');
  @include min-device-pixel-ratio('1.9', 'mq-dpr');
  @include min-device-pixel-ratio('2.0', 'mq-dpr');
  @include min-device-pixel-ratio('2.1', 'mq-dpr');
  @include min-device-pixel-ratio('2.2', 'mq-dpr');
  @include min-device-pixel-ratio('2.3', 'mq-dpr');
  @include min-device-pixel-ratio('2.4', 'mq-dpr');
  @include min-device-pixel-ratio('2.5', 'mq-dpr');
  @include min-device-pixel-ratio('2.6', 'mq-dpr');
  @include min-device-pixel-ratio('2.7', 'mq-dpr');
  @include min-device-pixel-ratio('2.8', 'mq-dpr');
  @include min-device-pixel-ratio('2.9', 'mq-dpr');
  @include min-device-pixel-ratio('3.0', 'mq-dpr');
  
  @include min-device-pixel-ratio('1.0', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('1.1', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('1.2', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('1.3', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('1.4', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('1.5', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('1.6', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('1.7', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('1.8', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('1.9', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.0', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.1', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.2', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.3', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.4', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.5', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.6', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.7', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.8', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('2.9', 'mq-dpr', 'webkit');
  @include min-device-pixel-ratio('3.0', 'mq-dpr', 'webkit');
  
  @include min-device-pixel-ratio('10/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('11/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('12/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('13/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('14/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('15/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('16/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('17/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('18/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('19/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('20/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('21/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('22/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('23/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('24/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('25/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('26/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('27/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('28/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('29/10', 'mq-dpr', 'o');
  @include min-device-pixel-ratio('30/10', 'mq-dpr', 'o');
  
  @include min-device-pixel-ratio('1.0', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('1.1', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('1.2', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('1.3', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('1.4', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('1.5', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('1.6', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('1.7', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('1.8', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('1.9', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.0', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.1', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.2', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.3', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.4', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.5', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.6', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.7', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.8', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('2.9', 'mq-dpw', 'moz');
  @include min-device-pixel-ratio('3.0', 'mq-dpw', 'moz');
  
}


// -----------------------------------------------------------------------------
// TOOL: MEDIA QUERY - ORIENTATION
// -----------------------------------------------------------------------------

.tool-mq-orientation-container {
  height: 5rem;
  position: relative;
  
  button {
    display: none;
    position: absolute;
    
    &.btn-block + .btn-block {
      margin-top: 0;  // Override margin form bootstrap
    }
  }
  
  @media screen and (orientation: portrait) {
    .mq-orientation-portrait {
      display: block;
    }
  }
  @media screen and (orientation: landscape) {
    .mq-orientation-landscape {
      display: block;
    }
  }
  
}


// -----------------------------------------------------------------------------
// TOOL: MEDIA QUERY - RESOLUTION
// -----------------------------------------------------------------------------

.tool-mq-resolution-container {
  height: 5rem;
  position: relative;
  
  button {
    display: none;
    position: absolute;
    
    &.mq-resolution-default {
      display: block;
    }
    
    &.btn-block + .btn-block {
      margin-top: 0;  // Override margin form bootstrap
    }
  }
  
  @each $mq-resolution-unit in dpi, dpcm, dppx {
    @for $i from 72 through 300 {
      @include resolution($i, $mq-resolution-unit, 'mq-resolution');
    }
  }
}
