<!DOCTYPE html>
<div class="container-fluid" ng-controller="MFOrientationCtrl">
	
	<ol class="breadcrumb">
		<li><a ui-sref="/">Start</a></li>
		<li class="active">Media Feature - orientation</li>
	</ol>
	
	<h1>Media Feature - orientation</h1>
	
	<p class="lead">
		This tools helps you to see whether or not the device supports the
		<code>orientation</code> media feature.
	</p>
	
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading"><code>orientation</code></div>
			<div class="panel-body">
				<div class="tool-mf-orientation-container">
					<button class="btn btn-lg btn-block btn-primary mf-orientation mf-orientation-portrait">portrait</button>
					<button class="btn btn-lg btn-block btn-primary mf-orientation mf-orientation-landscape">landscape</button>
				</div>
			</div>
		</div>
	</div>
</div>