<!DOCTYPE html>
<div class="container-fluid" ng-controller="MQMinDevicePixelRatioCtrl">
	
	<ol class="breadcrumb">
		<li><a ui-sref="/">Start</a></li>
		<li class="active">Media Query - min-device-pixel-ratio</li>
	</ol>
	
	<h1>Media Query - min-device-pixel-ratio</h1>
	
	<p class="lead">
		This tools helps you see to which [-prefix-]min-device-pixel-ratio media 
		query the device reacts to.
	</p>
	
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">min-device-pixel-ratio</div>
			<div class="panel-body">
				<div class="tool-mq-dpr-container">
					<button class="btn btn-lg btn-block btn-danger mq-dpr-default">not supported</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-10">1.0</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-11">1.1</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-12">1.2</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-13">1.3</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-14">1.4</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-15">1.5</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-16">1.6</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-17">1.7</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-18">1.8</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-19">1.9</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-20">2.0</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-21">2.1</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-22">2.2</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-23">2.3</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-24">2.4</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-25">2.5</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-26">2.6</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-27">2.7</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-28">2.8</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-29">2.9</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-30">3.0</button>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">-webkit-min-device-pixel-ratio</div>
			<div class="panel-body">
				<div class="tool-mq-dpr-container">
					<button class="btn btn-lg btn-block btn-danger mq-dpr-default">not supported</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-10">1.0</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-11">1.1</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-12">1.2</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-13">1.3</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-14">1.4</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-15">1.5</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-16">1.6</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-17">1.7</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-18">1.8</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-19">1.9</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-20">2.0</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-21">2.1</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-22">2.2</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-23">2.3</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-24">2.4</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-25">2.5</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-26">2.6</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-27">2.7</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-28">2.8</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-29">2.9</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-webkit-30">3.0</button>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">-o-min-device-pixel-ratio</div>
			<div class="panel-body">
				<div class="tool-mq-dpr-container">
					<button class="btn btn-lg btn-block btn-danger mq-dpr-default">not supported</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-10">1.0</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-11">1.1</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-12">1.2</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-13">1.3</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-14">1.4</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-15">1.5</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-16">1.6</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-17">1.7</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-18">1.8</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-19">1.9</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-20">2.0</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-21">2.1</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-22">2.2</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-23">2.3</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-24">2.4</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-25">2.5</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-26">2.6</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-27">2.7</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-28">2.8</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-29">2.9</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-o-30">3.0</button>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">min--moz-device-pixel-ratio</div>
			<div class="panel-body">
				<div class="tool-mq-dpr-container">
					<button class="btn btn-lg btn-block btn-danger mq-dpr-default">not supported</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-10">1.0</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-11">1.1</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-12">1.2</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-13">1.3</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-14">1.4</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-15">1.5</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-16">1.6</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-17">1.7</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-18">1.8</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-19">1.9</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-20">2.0</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-21">2.1</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-22">2.2</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-23">2.3</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-24">2.4</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-25">2.5</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-26">2.6</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-27">2.7</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-28">2.8</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-29">2.9</button>
					<button class="btn btn-lg btn-block btn-primary mq-dpr mq-dpr-moz-30">3.0</button>
			</div>
		</div>
	</div>
	
</div>
