<!DOCTYPE html>
<div class="container-fluid" ng-controller="MQOrientationCtrl">
	
	<ol class="breadcrumb">
		<li><a ui-sref="/">Start</a></li>
		<li class="active">Media Query - orientation</li>
	</ol>
	
	<h1>Media Query - orientation</h1>
	
	<p class="lead">
		This tools helps you see to which orientation media query the device 
		reacts to.
	</p>
	
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">orientation</div>
			<div class="panel-body">
				<div class="tool-mq-orientation-container">
					<button class="btn btn-lg btn-block btn-primary mq-orientation mq-orientation-portrait">portrait</button>
					<button class="btn btn-lg btn-block btn-primary mq-orientation mq-orientation-landscape">landscape</button>
				</div>
			</div>
		</div>
	</div>
</div>