<!DOCTYPE html>
<div class="container-fluid row">
	
	<div class="container-fluid">
		<div class="jumbotron">
		  <h1>Welcome!</h1>
		  <p>Mobile Development Toolkit (MDT) is a collection of tools to aid 
				development of web sites and web applications for mobile devices.</p>
		</div>
	</div>
	
	<div class="container-fluid row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Calculate Device PPI</div>
				<div class="panel-body">
				  Use this tool to calculate a device screen's pixels per inch (PPI).<br />
					<br />
					<button class="btn btn-primary" ui-sref="calcppi">Calculate PPI</button>
				</div>
			</div>
		</div>
	</div>
	
	<h3 class="container-fluid">Media Features</h3>
	
	<div class="container-fluid row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Media Feature: resolution</div>
				<div class="panel-body">
					Use this tool to check for support of the <code>resolution</code>
					media feature.<br />
					<br />
					<button class="btn btn-primary" ui-sref="mfresolution">
						Test <code>resolution</code> media feature
					</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Media Feature: device-pixel-ratio</div>
				<div class="panel-body">
				  Use this tool to check for support of the 
					<code>device-pixel-ratio</code> media feature.<br />
					<br />
					<button class="btn btn-primary" ui-sref="mfdevicepixelratio">
						Test <code>device-pixel-ratio</code> media feature
					</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Media Feature: orientation</div>
				<div class="panel-body">
				  Use this tool to check for support of the <code>orientation</code>
					media feature.<br />
					<br />
					<button class="btn btn-primary" ui-sref="mforientation">
						Test <code>orientation</code> media feature
					</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Media Feature: (device-)width/height)</div>
				<div class="panel-body">
				  Use this tool to check for support of the <code>(device-)width/height</code>
					media feature.<br />
					<br />
					<button class="btn btn-primary" ui-sref="mfwidthheight">
						Test <code>(device-)width/height</code> media feature
					</button>
				</div>
			</div>
		</div>
	</div>
	
</div>