<!DOCTYPE html>
<html ng-app="mdt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>MobileDevelopmentTools</title>

    <!-- STYLES -->
    <% filesStyle.forEach(function (file) { %><link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
    <!-- SCRIPTS -->
    <% filesScript.forEach(function (file) { %><script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
  </head>
  <body ng-controller="RootCtrl">
    <nav class="navbar navbar-inverse navbar-static-top">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  				<a class="navbar-brand" ui-sref="/" href="#">Mobile Development Tools (MDT)</a>
  	    </div>
  	  </div>
  	</nav>
    
    <div ui-view></div>
  </body>

</html>
